@import url('https://fonts.googleapis.com/css?family=Poppins:600&display=swap');

/* ----- VARIABLES ----- */
:root {
    --body-color: rgb(250, 250, 250);
    --color-white: rgb(255, 255, 255);
    --text-color-second: rgb(68, 68, 68);
    --text-color-third: rgb(30, 159, 171);
    --first-color: rgb(110, 87, 224);
    --first-color-hover: rgb(40, 91, 212);
    --second-color: rgb(0, 201, 255);
    --third-color: rgb(192, 166, 49);
    --first-shadow-color: rgba(0, 0, 0, 0.1);
}

/* ----- BASE ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ----- SMOOTH SCROLL ----- */
html {
    scroll-behavior: smooth;
}

/* ----- CHANGE THE SCROLL BAR DESIGN ----- */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 25px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background: #bbb;
}

/* ---##-- REUSABLE CSS --##--- */

/* ----- GLOBAL BUTTON DESIGN ----- */
.btn {
    display: inline-block;
    width: calc(40% - 10px); /* Adjust width to fit beside each other with a small gap */
    height: 30px; /* Adjust height as needed */
    line-height: 30px; /* Center text vertically */
    border-radius: 15px; /* Adjust border radius as needed */
    outline: none;
    border: none;
    font-size: 0.9rem; /* Adjust font size as needed */
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 5px; /* Adjust margin to create space between buttons */
    cursor: pointer;
    transition: .5s;
}

.btn-edit {
    background-image: linear-gradient(to right, #008000, #008000, #008000); /* Normal green background color */
}

.btn-delete {
    background-image: linear-gradient(to right, #FF0000, #FF0000, #FF0000);
}

.btn:hover{
	background-position: right;
}

.btn>i {
    margin-left: 10px;
}
/* ----- GLOBAL ICONS DESIGN ----- */
i {
    font-size: 16px;
}

/* ------- BASE -------- */
body {
    background: var(--body-color);
}

.container {
    width: 100%;
    position: relative;
}

/* ----- NAVIGATION BAR ----- */
nav {
    position: fixed;
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between;
    width: 100vw;
    height: 90px;
    line-height: 90px;
    background: var(--body-color);
    padding-inline: 9vw;
    transition: .3s;
    z-index: 999;
    left: 0; /* Align to the left edge of the viewport */
    right: 0; /* Align to the right edge of the viewport */
    top: 0; /* Align to the top of the viewport */
    overflow: hidden; /* Prevent content overflow */
}

.nav-logo {
    position: relative;
    left: -120px;
    top: 30px;
    margin-right: 20px; /* Adjust margin for spacing */
}

/* ----- NAVIGATION BAR ----- */
.nav-logo img {
    width: 90px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    max-height: 90px;
}

.nav-name {
    font-size: 30px;
    font-weight: 600;
    color: var(--text-color-third);
}

.nav-logo span {
    position: absolute;
  
    right: -20px;
    font-size: 5em;
    color: var(--text-color-second);
}

.nav-menu,
.nav_menu_list {
    display: flex;
}

.nav-menu .nav_list {
    list-style: none;
    position: relative;
}

.nav-link {
    text-decoration: none;
    color: var(--text-color-second);
    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;
    /* Add the following CSS properties to prevent long titles from overflowing */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowed text */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflowed text */
}


.nav-menu-btn {
    display: none;
}

.nav-menu-btn i {
    font-size: 28px;
    cursor: pointer;
}

.active-link {
    position: relative;
    color: var(--first-color);
    transition: .3;
}

.active-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    background: var(--first-color);
    border-radius: 50%;
}

/* ----- WRAPPER DESIGN ----- */
.wrapper {
    padding-inline: 10vw;
}

/* ----- FEATURED BOX ----- */
.featured-box {
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;
}



.scroll-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    gap: 5px;
    text-decoration: none;
    color: var(--text-color-second);
    background: var(--color-white);
    border-radius: 30px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.scroll-btn i {
    font-size: 20px;
}

/* ----- MAIN BOX ----- */
.section {
    padding-block: 5em;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
}

.col {
    display: flex;
    width: 50%;
}

/* -- ## --- RESUABLE CSS -- ## -- */
.top-header {
    text-align: center;
    margin-bottom: 3em;
}

.top-header h1 {
    margin-top: 0em; /* Decreases space above h1 */
    margin-bottom: 2em; /* Increases space below h1 */
}

.page-title {
    text-align: center;
    margin-top: 2em; /* Adjust the margin-top as needed */
    margin-bottom: 1em; /* Add some space below the title */
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold; /* Optionally adjust font weight */
}


.top-header span {
    color: #999;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color-second);
    margin-bottom: 15px;
}


/* Dropdown Styles */
.dropdown-container {
    position: absolute;
    top: 70%; /* Position the dropdown below the anchor */
    left: 18%;
    display: none;
    background: var(--color-white);
    border-radius: 10px; /* Adjust border-radius to control the roundness */
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    z-index: 2;
    width: 180px; /* Adjust the width of the dropdown */
}

.dropdown-menu {
    list-style: none;
    padding: 0;
}

.dropdown-menu li {
    padding: 10px 20px;
    line-height: 1.5;
}

.dropdown-menu li a {
    margin: 0;
    text-decoration: none;
    color: var(--text-color-second);
    display: block;
    font-size: 15px;
    text-align: center;
}

/* Show dropdown on hover */
.nav_menu_list .dropdown-wrapper:hover .dropdown-container {
    display: block;
}

/* Integrate table CSS */
.table-container {
    overflow-y: auto; /* Add vertical scrollbar */
    max-height: calc(100vh - 200px); /* Adjust max-height to leave space for the navbar and other elements */
}

.content-table {
    width: 100%;
    font-size: 1em;
    min-width: 600px;
    border-radius: 10px;
    box-shadow: none;
    overflow-x: auto;
    /* Remove the following styles to allow the table to scroll vertically */
    /* overflow-y: auto; */
    /* max-height: 500px; */
}


.content-table thead tr {
    background-color: #007FFF;
    color: #ffffff;
    text-align: center; /* Center align header text */
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 15px; /* Increase padding for better spacing */
    text-align: center; /* Center align content */
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #007FFF;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #007FFF;
}
.nav_list.active .nav-link {
    color: #007FFF; /* Change to the desired highlight color */
}


/* Styles for the input div */
.div {
    margin-bottom: 25px; /* Adjust margin bottom as needed */
}


.input[type="text"] {
    width: 20%; /* Full width */
    height: 40px; /* Adjust height as needed */
    padding: 5px; /* Adjust padding as needed */
    border: 1px solid #d9d9d9; /* Border color */
    border-radius: 5px; /* Adjust border radius as needed */
    font-size: 14px; /* Font size */
    color: #000; /* Text color */
    background-color: #fff; /* Background color */
}

.input[type="text"]:focus {
    border-color: #007FFF; /* Border color when input is focused */
    outline: none; /* Remove default focus outline */
}

.input[type="text"]::placeholder {
    color: #999; /* Placeholder text color */
}


.btn-submitreport {
    /* Retain properties from the .btn class */
    display: inline-block;
    width: calc(40% - 10px); /* Adjust width to fit beside each other with a small gap */
    height: 30px; /* Adjust height as needed */
    line-height: 30px; /* Center text vertically */
    border-radius: 15px; /* Adjust border radius as needed */
    outline: none;
    border: none;
    font-size: 0.9rem; /* Adjust font size as needed */
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 5px; /* Adjust margin to create space between buttons */
    cursor: pointer;
    transition: .5s;

    /* Override specific properties */
    background-color: #007FFF; /* Change button background color */
    width: auto; /* Allow button to expand based on content */
    padding: 0 15px; /* Add padding to adjust button width */
}


.searchreport {
    /* Retain properties from the .btn class */
    display: inline-block;
    width: calc(40% - 10px); /* Adjust width to fit beside each other with a small gap */
    height: 30px; /* Adjust height as needed */
    line-height: 30px; /* Center text vertically */
    border-radius: 15px; /* Adjust border radius as needed */
    outline: none;
    border: none;
    font-size: 0.9rem; /* Adjust font size as needed */
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 5px; /* Adjust margin to create space between buttons */
    cursor: pointer;
    transition: .5s;

    /* Override specific properties */
    background-color: #008000; /* Change button background color to green */
    width: auto; /* Allow button to expand based on content */
    padding: 0 15px; /* Add padding to adjust button width *
}

.searchreport:hover {
    background-color: #006400; /* Change button background color on hover to darker green */
}


.addentry {
    margin-top: -50px;
    margin-left: 600px;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    text-align: center;
    height: 100vh; /* Adjust height as needed */
}


.img img {
    width: 400px;
}

.addentry form {
    width: 360px;
}

.addentry img {
    height: 100px;
}

.addentry h2 {
    margin: 15px 0;
    color: #333;
    text-transform: uppercase;
    font-size: 2.9rem;
}

.addentry .addentry-input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.addentry .addentry-input-div.one {
    margin-top: 0;
}

.addentry .i {
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addentry .i i {
    transition: .3s;
}

.addentry .addentry-input-div > div {
    position: relative;
    height: 45px;
}

.addentry .addentry-input-div > div > h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: .3s;
}

.addentry .addentry-input-div:before,
.addentry .addentry-input-div:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #007FFF;
    transition: .4s;
}

.addentry .addentry-input-div:before {
    right: 50%;
}

.addentry .addentry-input-div:after {
    left: 50%;
}

.addentry .addentry-input-div.focus:before,
.addentry .addentry-input-div.focus:after {
    width: 50%;
}

.addentry .addentry-input-div.focus > div > h5 {
    top: -5px;
    font-size: 15px;
}

.addentry .addentry-input-div.focus > .i > i {
    color: #007FFF;
}

.addentry .addentry-input-div > div > input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: 'poppins', sans-serif;
}

.addentry .addentry-input-div.pass {
    margin-bottom: 4px;
}

.addentry .addentry-btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #007FFF, #007FFF, #007FFF);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
}

.addentry .addentry-btn:hover {
    background-position: right;
}






